/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/dotenv-editor
/storage/framework/laravel-excel
/storage/debugbar
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
